.container{
    justify-content: center;
    align-items: center;
    padding: 20px;
    gap: 250px;
    display: flex;
}
.subContainer1{
    width: 400px;
    justify-content: center;
    gap: 40px;
    display: flex;
    flex-direction: column;
}
.subContainer2{
    width: 400px;
    justify-content: center;
    align-items: center;
    display: flex;
}
.headingContainer>h1{
    margin: 0px;
}
.headingContainer>h4{
    margin: 0px;
    color: #BFC9CA;
    font-weight: '100';
}
.headingContainer{
    gap: 15px;
    display: flex;
    flex-direction: column;
}
.text-input{
    width: 100%;
}
.form-container{
    gap: 20px;
    display: flex;
    flex-direction: column;
}
.action-container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.login-button{
    width: 100%;
}
.signup-container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 5px;
}
.hyphon {
    border: 1px solid;
    width: 135px;
}
.or-container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
.social-button-container{
    justify-content: center;
    display: flex;
    gap: 20px;
}
.social-button{
    width: 20%;
}
.button-container{
    gap: 20px;
    display: flex;
    flex-direction: column;
}
.login-image{
    object-fit: cover;
    height: 500px;
    width: 500px;
    scale: 1.12;
    border-radius: 10px;
    box-shadow: 0px 2px 4px -1px rgba(0, 0, 0, 0.2), 0px 4px 5px 0px rgba(0, 0, 0, 0.14), 0px 1px 10px 0px rgba(0, 0, 0, 0.12);
}
.css-k4qjio-MuiFormHelperText-root{
    color: red !important;
    margin-left: 0px !important;
}
a{
    text-decoration: none;
    color: #1976d2;
    cursor: pointer;
}
.signUpSeperator{
    text-wrap: nowrap;
}
.eye-icon{
    height: 25px;
    width: 25px;
    position: absolute;
    padding: 10px;
}
.password-container{
    display: flex;
    justify-content: flex-end;
}
.fileName{
    margin: 0px;
}